// Tasks Modal Partial
.modal-header
	.modal-title
		.row
			.col-md-11
				h3 {{title}} 
			.col-md-1
				span.glyphicon.glyphicon-circle(class="blob-{{status}}",style="top:20px;")
		.row.timeline(style="height:22px;")
			.col-md-12
				progress(max="112")
					bar(ng-repeat="x in time.current",value="x.value/time.max*100",type="{{x.type}}",class="{{x.inc}}")
						a.clickable(style="color:white",tooltip="{{x.text}}")
							strong {{x.value| number:0}}
.modal-body
	table.table.table-hover
		thead
			tr
				th #
				th Stage
				th Start Date
				th Due Date
				th End Date
				th Description
				th Remarks
		tbody
			tr(ng-repeat = "task in tasks")
				td {{$index+1}}
				td 
					a.clickable(tooltip="{{task.workflow.description}}") {{task.workflow.name}}
				td {{task.start_date| date}}
				td {{task.due_date| date}}
				td
					div(ng-hide="!task.end_date")
						{{task.end_date| date}}
					.center-block(ng-show="!task.end_date")
						button.btn.btn-info.btn-sm(ng-click="complete(task.id+'',$index+'')")
							span.glyphicon.glyphicon-ok
				td {{task.description}}
				td(style="width:468px;")
					.noedit(ng-hide="editit")
						| {{task.remarks}}
						button.btn.btn-sm.btn-danger.pull-right(ng-click="editit=true;")
							span.glyphicon.glyphicon-edit
					.form-group(ng-show="editit")
						.input-group
							input.form-control(ng-model="editxt",ng-init="editxt=task.remarks")
							span.input-group-btn
								button.btn.btn-primary(ng-click="editit=false;edit(task.id+'',editxt);task.remarks=editxt;")
									| OK
.modal-footer.row
	form(role="form",name="taskform",novalidate)
		.col-md-2
			select.form-control(ng-model="postTask.workflow",required)
				option(value="") --Choose Stage--
				option(value="1") RFQ/ENQ
				option(value="2") NBO
				option(value="3") QUOTE
				option(value="4") IPO
				option(value="5") PPAP
				option(value="6") FPO
				option(value="7") FRS
		.col-md-2(ng-init="dateshow=false;")
			p.input-group
				input.form-control(type="text", ng-model="postTask.due_date",required,placeholder="Due Date")
				span.input-group-btn
					button.btn.btn-default(ng-click="dateshow=!dateshow;")
						span.glyphicon.glyphicon-calendar
			.datepickerstyle(ng-show="dateshow")
				datepicker(ng-model="postTask.due_date", show-weeks="false")
		.col-md-3
			input.form-control(ng-model="postTask.remarks",placeholder="Enter Remarks", required)
		.col-md-4
			input.form-control(ng-model="postTask.description",placeholder="Enter Description", required)
		.col-md-1
			button.btn.btn-success(ng-click="add()",ng-disabled="taskform.$invalid")
				span.glyphicon.glyphicon-upload
