// Timeline Ctrl
.page-header.text-center
	h3 {{title}} PROJECTS TIMELINE
	.row
		.col-md-2
			a
				strong.text-left.clickable(ng-click="predicate = 'title'; reverse=!reverse;") Title
		.col-md-2
			a
				strong.text-left.clickable(ng-click="predicate = 'customer'; reverse=!reverse;") Customer
		.col-md-7
			strong Timeline
		.col-md-1
			a
				strong.text-right.clickable(ng-click="predicate = 'maxv'; reverse=!reverse;") Weeks
.timeline(ng-repeat="time in timeline | object2Array| orderBy:predicate:reverse")
	.row
		.col-md-2(ng-click="task(''+time.id,''+time.title,''+time.status)")
			a.clickable {{time.title.substring(0,26)}}
		.col-md-2
			{{time.customer}}
		.col-md-7(style="height:22px;")
			progress(max="100")
				bar(ng-repeat="x in time.values",value="x.value*100/max_max",type="{{x.type}}",class="{{x.inc}}")
					a.clickable(style="color:white",tooltip="{{x.text}}")
						strong {{x.value| number:0}}
		.col-md-1
			{{time.maxv| number:0}}
	hr(style="margin:10px;")

