// Dashboard Partial
.panel.panel-success
	.panel-heading(ng-init="tota1=0;tota2=0")
		.row
			.col-md-11.text-center
				h4
					strong {{type}} PROJECTS
			.col-md-1
				button.btn.btn-success.btn-default(ng-click="timeline()")
					span.glyphicon.glyphicon-time
	table.table.table-hover
		thead
			tr(ng-init="reverse=true")
				th #
				th.clickable(ng-click="predicate='title';reverse=!reverse") Project Title
				th.clickable(ng-click="predicate='customer.name';reverse=!reverse") Customer
				th.text-right.clickable(ng-click="predicate='year_revenue';reverse=!reverse") Revenue per year
				th.text-right.clickable(ng-click="predicate='tot_revenue';reverse=!reverse") Total Revenue
				th.clickable(ng-click="predicate='sopDate';reverse=!reverse") Start Of Production
				th.clickable(ng-click="predicate='winprobability';reverse=!reverse") Win Probability
				th.text-center Details
		tbody
			tr(ng-repeat="project in projects| orderBy: predicate: reverse")
				td {{$index + 1}}
				td 
					abbr(title="{{project.title}}") {{project.title.substring(0,10)}}
				td {{project.customer.name}}
				td.text-right {{project.year_revenue| indno}}
				td.text-right {{project.tot_revenue| indno}}
				td(ng-init="sum(project.year_revenue,project.tot_revenue)") {{project.sopDate | date: 'dd MMM,yyyy'}}
				td {{project.winprobability}}
				td
					.samp
						button.btn.btn-default(ng-click="open(''+project.id+'')")
							span.glyphicon.glyphicon-comment
						button.btn.btn-default(ng-click="edit(project)")
							span.glyphicon.glyphicon-edit
						button.btn.btn-default(ng-click="task(''+project.id)",ng-hide="hide")
							span.glyphicon.glyphicon-dashboard
						button.btn.btn-default(ng-click="opc(''+project.id)")
							span.glyphicon.glyphicon-check
		tfoot
			tr.info
				td
				td
				td
				td.text-right
					strong {{total2| indno}}
				td.text-right
					strong {{total1| indno}}
				td
				td
				td
				td
				td
				td
				td
.row
	.col-md-6.col-md-offset-6
		alert.text-center(type="warning",ng-hide="alert",close="alert=true;",style="font-size:14px;font-weight:800;font-family:'Courier New',Helvetica,Arial,sans-serif;") {{message}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			span.glyphicon.glyphicon-question-sign(style="font-size:25px;top:6px;")


