// Dashboard Partial
.panel.panel-success.projects
	.panel-heading(ng-init="tota1=0;tota2=0")
		.row
			.col-md-10.text-center
				h4
					strong {{type}} PROJECTS
			.col-md-2
				button.btn.btn-success.btn-default(ng-click="timeline()")
					span.glyphicon.glyphicon-time
				&nbsp;&nbsp;
				button.btn.btn-warning.btn-default(ng-click="chart()")
					span.glyphicon.glyphicon-stats
	table.table.table-hover
		thead
			tr(ng-init="reverse=true")
				th #
				th.clickable(ng-click="predicate='title';reverse=!reverse") Project Title
				th.clickable(ng-click="predicate='customer.name';reverse=!reverse",style="width:154px;") Customer
				th.text-right.clickable(ng-click="predicate='year_revenue';reverse=!reverse",style="width:124px;") Revenue per year (in lakhs)
				th.text-right.clickable(ng-click="predicate='tot_revenue';reverse=!reverse",style="width:124px;") Total Revenue (in lakhs)
				th.text-center.clickable(ng-click="predicate='sopDate';reverse=!reverse")
					abbr(title="Start Of Production Date") SOP
				th.clickable(ng-click="predicate='winprobability';reverse=!reverse")
					abbr(title="Win Probability") WP
				th Status
				th Details
		tbody
			tr(ng-repeat="project in projects| orderBy: predicate: reverse")
				td {{$index + 1}}
				td 
					abbr(title="{{project.title}}") {{project.title.substring(0,20)}}
				td(style="width:154;") {{project.customer.name}}
				td.text-right(style="width:124;")
					a.clickable(tooltip="{{project.year_revenue| indno}}",style="color:black;") {{project.year_revenue/10000000| number:2}}L
				td.text-right(style="width:124;")
					a.clickable(tooltip="{{project.tot_revenue| indno}}",style="color:black;") {{project.tot_revenue/10000000| number:2}}L
				td.text-center(ng-init="sum(project.year_revenue,project.tot_revenue)") {{project.sopDate | date: 'dd MMM,yyyy'}}
				td {{project.winprobability}}
				td
					span.glyphicon.glyphicon-circle(class="blob-{{project.late_status}}")
				td
					.btn-group(dropdown, is-open="openb",ng-init="openb=false;")
						button.btn.btn-primary.btn-sm.dropdown-toggle
							span.glyphicon.glyphicon-chevron-down
						ul.dropdown-menu(role="menu")
							li
								button.btn.btn-success(ng-click="open(''+project.id,project.title+'')")
									a.clickable(tooltip="Remarks",style="color:white;")
										span.glyphicon.glyphicon-comment
							li
								button.btn.btn-success(ng-click="edit(project)")
									a.clickable(tooltip="Edit Project",style="color:white;")
										span.glyphicon.glyphicon-edit
							li
								button.btn.btn-success(ng-click="task(''+project.id,''+project.title,''+project.late_status)",ng-hide="hide")
									a.clickable(tooltip="Tasks",style="color:white;")
										span.glyphicon.glyphicon-dashboard
							li
								button.btn.btn-success(ng-click="opc(''+project.id,''+project.title)")
									a.clickable(tooltip="Opportunity Progress Checklist",style="color:white;")
										span.glyphicon.glyphicon-check
		tfoot
			tr.info
				td
				td
				td
				td.text-right
					strong {{total2| indno}}
				td.text-right
					strong {{total1| indno}}
				td
				td
				td
				td
.row
	.col-md-6.col-md-offset-6
		alert.text-center(type="warning",ng-hide="alert",close="alert=true;",style="font-size:14px;font-weight:800;font-family:'Courier New',Helvetica,Arial,sans-serif;") {{message}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			span.glyphicon.glyphicon-question-sign(style="font-size:25px;top:6px;")


