// Project Modal Partial
form(role="form", name="projctform", novalidate)
	.panel.panel-default(ng-init="projct.price=0;projct.volume=0")
		.panel-heading
			.row
				.col-md-4
					h3.text-center
						strong {{title}} PROJECT FORM
				.col-md-4.center-block
					h4.text-center
						strong Total Project Revenue &nbsp;&nbsp;
						{{(projct.life+2) * projct.price * projct.volume}}
				.col-md-3.center-block
					h4.text-center
						strong Revenue per year &nbsp;&nbsp;
						{{projct.price * projct.volume}}
				.col-md-1
					button.btn.btn-default(ng-click="suspend(''+projct.id,1,$index+'')", ng-hide = "projct.status==1;")
						span.glyphicon.glyphicon-trash
					button.btn.btn-default(ng-click="suspend(''+projct.id,0,$index+'')", ng-show = "projct.status==1;")
						span.glyphicon.glyphicon-share-alt
			.row
				.col-md-8.col-md-offset-2
					alert(ng-repeat="alert in alerts", type="{{alert.type}}", close="closeAlert($index)") {{alert.msg}}
		.panel-body
				.row
					.col-md-4
						.form-group
							label.control-label(for="projcttitle") Title
							input.form-control(required, type="text", id="projcttitle", placeholder="Enter title of the projct", ng-model="projct.title")
						.form-group
							.row
								.col-md-5
									label(for="projctcustomer") Customer&nbsp;&nbsp;
								.col-md-2.col-md-offset-5.borderless
									button.btn.btn-default(ng-click="open()")
										span.glyphicon.glyphicon-plus
							select.form-control(required, id="projctcustomer", ng-options = "customer.name for customer in customers track by customer.id", ng-model="custom")
						.form-group
							label(for="projctproduct") Category of Products
							select.form-control(id='projctproduct', ng-model="projct.product", required)
								option(value="Comp") Components (Exports/Domestic)
								option(value="Synchro") Synchronizers
								option(value="ACE") ACE
								option(value="WTC") World Transfer Cases
								option(value="TC") Next Generation/Transfer Cases
								option(value="PTU") NexTrac/Power Transfer Units
								option(value="Oth") Others
						
						.form-group
							label(for="projectgenerated") Generation
							select.form-control(id="projectgenerated", ng-model="projct.generated", required)
								option(value="S") Self Generated
								option(value="C") Customer Generated
						.form-group
							label(for = "projectwinprobability") Win Probability
							input.form-control(type = "number", ng-model = "projct.winprobability", id = "projectwinprobability", placeholder = "Enter the project's win probability", only-num, required)
						.form-group
							{{createdBy}}
							label(for = "projectuser") Incharge
							select.form-control(id="projectuser", ng-model="createdBy", required)
								option(value="1") ZGI
								option(value="2") DMJ
								option(value="3") TJS
					.col-md-4
						.form-group
							label(for="projectprice") Price in (Rs.)
							input.form-control(only-num, type="number", ng-model="projct.price", id="projectprice", placeholder="Enter the tentative price of the product/component", required)
						.form-group
							label(for="projectvolume") Yearly Volume
							input.form-control(type="number", ng-model="projct.volume", id="projectvolume", placeholder="Enter volume to be shipped in a year", only-num, required)
						.form-group
							label(for="projectlife") Project Life (in Years)
							.row
								.col-md-3
									input.form-control.text-center(type="text", readonly, value="{{projct.life+2}}")
								.col-md-9.rating-class
									rating(id="projectlife", ng-model="projct.life", ng-init="projct.life=3", state-on="'glyphicon-remove'", state-off="'glyphicon-minus'", max="13")
						.form-group
							label(for="projectdescription") Project Scope
							textarea.form-control(id="projectdescription", ng-model="projct.description", placeholder = "Give a brief description about this project.", rows=4, required)
						.form-group
							label(for="projectpartno") Part Number
							input.form-control(type="text", id="projectpartno", ng-model="projct.part_no", placeholder = "Enter the part number of the product manufactured", required)
					.col-md-4
						label Tentative Start-Of-Projection Date
						hr
						.datepicker(style="display:inline-block; min-height:180px")
							datepicker.well.well-sm(ng-model="projct.sopDate", show-weeks="true", required)
		.panel-footer
			button.btn.btn-primary(type="submit", ng-click="ok(''+createdBy)", ng-disabled="projctform.$invalid") OK
			button.btn.btn-danger(ng-click="cancel()") Cancel
