// Pie chart modal
.modal-header
	.modal-title(ng-show="title")
		h3 {{title}} PROJECTS
	.modal-title(ng-hide="title")
		h3 Revenue Pie Chart - Category-wise
	a.clickable.btn.btn-primary(tooltip="Save as Image",ng-click="image()")
		span.glyphicon.glyphicon-print
.modal-body#printable
	nvd3(data="data",options="options")
