// Timeline Ctrl
.page-header.text-center
	h3 TIMELINE
.timeline(ng-repeat = "time in timeline")
	.row
		.col-md-2
			{{time.title}}
		.col-md-10
			progress(max="max_max")
				bar(ng-repeat="x in time.values",value="x.value",type="{{x.type}}") 
					strong {{x.value-2}}

