// Tasks Modal Partial
.modal-header
	.modal-title
		h3 {{title}} Tasks
.modal-body
	table.table.table-hover
		thead
			tr
				th #
				th Stage
				th Start Date
				th Due Date
				th End Date
				th Description
				th Remarks
		tbody
			tr(ng-repeat = "task in tasks")
				td {{$index+1}}
				td {{task.workflow.name}}
				td {{task.start_date| date}}
				td {{task.due_date| date}}
				td
					div(ng-hide="!task.end_date")
						{{task.end_date| date}}
					.center-block(ng-show="!task.end_date")
						button.btn.btn-info.btn-sm(ng-click="complete(task.id+'',$index+'')")
							span.glyphicon.glyphicon-ok
				td {{task.description}}
				td {{task.remarks}}
.modal-footer.row
	form(role="form",name="taskform",novalidate)
		.col-md-2
			select.form-control(ng-model="postTask.workflow",required)
				option(value="") --Choose Stage--
				option(value="1") RFQ/ENQ
				option(value="2") NBO
				option(value="3") Quote
				option(value="4") PO
				option(value="5") PPAP
				option(value="6") Final PO
				option(value="7") First Revenue Shipment
		.col-md-2(ng-init="dateshow=false;")
			p.input-group
				input.form-control(type="text", ng-model="postTask.due_date",required,placeholder="Due Date")
				span.input-group-btn
					button.btn.btn-default(ng-click="dateshow=!dateshow;")
						span.glyphicon.glyphicon-calendar
			.datepickerstyle(ng-show="dateshow")
				datepicker(ng-model="postTask.due_date", show-weeks="false")
		.col-md-3
			input.form-control(ng-model="postTask.remarks",placeholder="Enter Remarks", required)
		.col-md-4
			input.form-control(ng-model="postTask.description",placeholder="Enter Description", required)
		.col-md-1
			button.btn.btn-success(ng-click="add()",ng-disabled="taskform.$invalid")
				span.glyphicon.glyphicon-upload
