// BDR Summary
.page-header
	.row
		.col-md-3 
			h1(style="font-variant:small-caps;") 
				small Total&nbsp;&nbsp;
				| {{dash.active+dash.completed+dash.suspended}}
		.col-md-3 
			h1(style="font-variant:small-caps;") 
				small Completed&nbsp;&nbsp;
				| {{dash.completed}}
		.col-md-3 
			h1(style="font-variant:small-caps;")
				small Active&nbsp;&nbsp;
				| {{dash.active}}
		.col-md-3 
			h1(style="font-variant:small-caps;")
				small Suspended&nbsp;&nbsp;
				| {{dash.suspended}}
.row
	.col-md-6
		.panel.panel-default
			.panel-heading
				| BDR Summary
			table.table.table-hover
				thead
					tr
						th Category of Tasks
						th No of Projects
				tbody
					tr
						td Total No of Projects
						td {{dash.active+dash.suspended+dash.completed}}
					tr
						td 
							a(href="report/enq") Enquiry Stage
						td 
							a(href="report/enq") {{dash.enq-dash.enq}}
					tr
						td 
							a(href="report/nbo") NBO Stage
						td 
							a(href="report/nbo") {{dash.nbo-dash.quo}}
					tr
						td 
							a(href="report/quote") Quotation Stage
						td 
							a(href="report/quote") {{dash.quo-dash.ipo}}
					tr
						td 
							a(href="report/ipo") Waiting for Initial PO
						td 
							a(href="report/ipo") {{dash.ipo-dash.ppap}}
					tr
						td 
							a(href="report/ppap") PPAP stage
						td 
							a(href="report/ppap") {{dash.ppap-dash.fpo}}
					tr
						td 
							a(href="report/fpo") Waiting for Final PO
						td 
							a(href="report/fpo") {{dash.fpo-dash.frs}}
					tr
						td 
							a(href="report/frs") First Revenue Shipments
						td 
							a(href="report/frs") {{dash.frs}}
	.col-md-6
		.panel.panel-default
			.panel-heading
				| Strategic Growth Opportunity&nbsp;&nbsp;
				button.btn.btn-info.btn-default(ng-click="piechart()")
					i.fa.fa-adjust.fa-lg
			table.table.table-hover
				thead
					tr
						th Category of Products
						th No of Projects
				tbody
					tr
						td
							a(href="report/ptu") Power Transfer Units
						td {{dash.ptu}}
					tr
						td
							a(href="report/synchro")  Synchronizers
						td {{dash.syn}}
					tr
						td 
							a(href="report/comp") Components
						td {{dash.comp}}
					tr
						td 
							a(href="report/ntc") Transfer Cases
						td {{dash.tc}}
					tr
						td 
							a(href="report/wtc") World Transfer Cases
						td {{dash.wtc}}
					tr
						td 
							a(href="report/ace") ACE
						td {{dash.ace}}
					tr
						td 
							a(href="report/oth") Others
							td {{dash.oth}}
