table.table.table-hover
	thead
		tr
			th(style="width:400px;")
			th {{data[3].username}}
			th {{data[1].username}}
			th {{data[2].username}}
	tbody
		tr
			td Total
			td {{data[3].tot}}
			td {{data[1].tot}}
			td {{data[2].tot}}
		tr
			td Completed
			td {{data[3].com}}
			td {{data[1].com}}
			td {{data[2].com}}
		tr
			td Active
			td {{data[3].act}}
			td {{data[1].act}}
			td {{data[2].act}}
		tr
			td Suspended
			td {{data[3].sus}}
			td {{data[1].sus}}
			td {{data[2].sus}}
		tr
			td Transfer Case
			td {{data[3].tc}}
			td {{data[1].tc}}
			td {{data[2].tc}}
		tr
			td Power Transfer Units(PTU)
			td {{data[3].ptu}}
			td {{data[1].ptu}}
			td {{data[2].ptu}}
		tr
			td World Transfer Case
			td {{data[3].wtc}}
			td {{data[1].wtc}}
			td {{data[2].wtc}}
		tr
			td ACE
			td {{data[3].ace}}
			td {{data[1].ace}}
			td {{data[2].ace}}
		tr
			td Synchronizers
			td {{data[3].syn}}
			td {{data[1].syn}}
			td {{data[2].syn}}
		tr
			td Components
			td {{data[3].comp}}
			td {{data[1].comp}}
			td {{data[2].comp}}
		tr
			td Others
			td {{data[3].oth}}
			td {{data[1].oth}}
			td {{data[2].oth}}
