extends layout
block body
  //.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ng-click="click()") Home
    .collapse.navbar-collapse.navbar-ex1-collapse
      ul.nav.navbar-nav
        li
          a(href="view1") Profile
        li
          a(href="view3") Projects
        li
          a(href="view4") Create
  button.home-button.home(ng-click="click()")
    span.glyphicon.glyphicon-home
  .sidebar.bg-primary(ng-class="{'slide-out':boolChangeClass}")
    .row
      button.home-button.side(ng-click="click()")
        span.glyphicon.glyphicon-home
    .row(style="margin-top:30px;")
      .col-md-12
        ul.list-group
          li.list-group-item
            a.btn.btn-block.btn-large(href="view1") Dashboard
          li.list-group-item
            a.btn.btn-large.btn-block(href="view3") Create
          li.list-group-item
            a.btn.btn-large.btn-block(href="view4") Profile
  .container-fluid
    .row
      div.col-md-10.col-md-offset-1
        div(ng-view)
        hr
        button(snap-toggle="left")  Hello
    .row
      div.col-md-offset-1.col-md-10
        | Divgi Warner Pvt Ltd

  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/ui-bootstrap-tpls-0.11.0.min.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/jquery/jquery-2.0.3.min.js')
  script(src='bootstrap/js/bootstrap.min.js')
