extends layout
block body
	.sidebar.bg-primary(ng-class="{'slide-out':boolChangeClass}", ng-mouseleave = "boolChangeClass = false;")
		.row
			button.home-button.side(ng-click="click()")
				span.glyphicon.glyphicon-home
		.row(style="margin-top:40px;")
			.col-md-12
				ul.list-group
					li.list-group-item
						a.btn.btn-large.btn-block(href="summary") Dashboard
					li.list-group-item(ng-init="isCollapsed = true;isCollapsed2=true;isCollapsed3 = true;isCollapsed4 = true;isCollapsedd=true;")
						a.btn.btn-block.btn-large(ng-click="isCollapsed=!isCollapsed") Functional Reports
						.list-group(collapse="isCollapsed")
							a.list-group-item.list-group-item-success(href="dashboard/all") All Projects
							a.list-group-item.list-group-item-success(href="dashboard/compl") Completed Projects
							a.list-group-item.list-group-item-success(href="dashboard/ong") Active Projects
							a.list-group-item.list-group-item-success(href="dashboard/fp") Focus Projects
							a.list-group-item.list-group-item-success(href="dashboard/h1p") Horizon 1 Projects
							a.list-group-item.list-group-item-success(href="dashboard/h2p") Horizon 2 Projects
							a.list-group-item.list-group-item-success(href="dashboard/h3p") Horizon 3 Projects
							a.list-group-item.list-group-item-success(href="dashboard/npp") No Pull Projects
							a.list-group-item.list-group-item-success(href="dashboard/sp") Suspended Projects
							a.list-group-item.list-group-item-success(href="dashboard/lagging") Lagging Projects
					li.list-group-item
						a.btn.btn-block.btn-large(ng-click="isCollapsedd=!isCollapsedd") Analysis Reports
						.list-group(collapse="isCollapsedd")

							a.list-group-item.list-group-item-success(href="report/top10") TOP 10
							a.list-group-item.list-group-item-success(href="report/salesmanmatrix") SALESMAN MATRIX
		a.list-group-item(href="create/project") Create
	.row
		.col-md-3
			button.home-button.home(ng-click="click()")
				span.glyphicon.glyphicon-th
	.row(style="margin-top:20px;")
		.container-fluid
			.row
				div.col-md-10.col-md-offset-1
					div(ng-view)
					hr
			.row
				div.col-md-offset-1.col-md-10
					| DivgiWarner Pvt Ltd
	script(src='js/lib/angular/angular.js')
	script(src='js/lib/angular/ui-bootstrap-tpls-0.11.0.min.js')
	script(src='js/lib/angular/d3.js')
	script(src='js/lib/angular/nv.d3.js')
	script(src='js/lib/angular/angular-nvd3.js')
	script(src='js/lib/angular/angular-route.js')
	script(src='js/commonFunctions.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	script(src='js/modalControllers.js')
