/* app css stylesheet */
.glyphicon-circle{
	width: 28px;
	height: 28px;
	border-radius: 14px;
	left: -9px;
}
@media screen{
	#printSection{
		display: none;
	}
}
@media print{
	body *{
		visibility:hidden;
	}
	#printSection, #printSection *{
		visibility: visible;
	}
	#printSection{
		position:absolute;
		left:0;
		top:0;
	}
}
.nvtooltip{
	z-index:2040;
}
.small .modal-footer{
	margin:0px;
}
.modal-body {
	overflow-x: overlay;
}
.blob-5{
	background-color:rgb(120, 1, 158);
}
.blob-4{
	background-color:black;
	color:white;
}
.blob-0{
	background-color:rgb(66,201,41);
}
.blob-1{
	background-color:rgb(252,203,49);
}
.blob-2{
	background-color:rgb(252,122,49);
}
.blob-3{
	background-color:rgb(252,49,90);
	color:white;
}
.progress-bar[aria-valuenow="0"], .progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"]{
	min-width:0px;
}
.timeline .progress{
	background-color:white;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-bar-FPO{
	background-color:#F13251;
}
.progress-bar-ENQ{
	background-color:#A5A0A0;
}
.progress-bar-NBO{
	background-color:#CCC408;
}
.progress-bar-QUOTE{
	background-color:rgb(16, 204, 0);
}
.progress-bar-IPO{
	background-color: rgb(92,0,225);
}
.progress-bar-PPAP{
	background-color:#A2299D;
}
.progress-bar-FRS{
	background-color:black;
}
.dropdown-menu button{
	border:0px;
	border-radius:0px;
}
.timelinemodal .modal-content{
	padding:20px;
}
.timelinemodal .modal-dialog{
	width: 80%;
}
body {
	font-size: 12px;
	position: relative;
	left: 0px;
}
.modalclass .modal-body{
	overflow-y: auto;
	height: 435px;
}
.modalclass .form-control{
	padding: 3px;
}
.modalclass .modal-footer{
	padding-top: 10px;
}
.modalclass .modal-content{
	height: 615px;
}
.modal-dialog{
	margin-top:15px;
}
.clickable{
	cursor:pointer;
}
.modal{
	overflow:hidden;
}
.modalclass .modal-dialog{
	width: 80%
}
body .glypicon-asterisk{
	color: #F0AD4E;
}
.rating-class{
	margin-top:5px;
	font-size: 17px;
}
.body-push{
	left: 240px;
}
.sidebar, body{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sidebar {
	overflow-y:overlay;
	width: 240px;
	background-color: #535050;
	position: fixed;
	height: 100%;
	top:0;
	z-index:1000;
	left:-240px;
}
.sidebar.slide-out{
	left: 0px;
}
.home-button{
	height: 70px;
	width: 70px;
	background-color: black;
	color: #EEEEEE;
	border: 10px;
	border-color: #BBBBBB;
	border-radius: 40px;
	font-size: 21px;
}
.home-button:focus{
	outline:white
}
.home{
	position: relative;
	top: 20px;
	left: 35px;
}
.side{
	position: relative;
	top: 20px;
	left: 85px;
}
.home-box{
	height: 150px;
	width: 150px;
}
.ovh{
	overflow:hidden;
}
.glyphicon-plus{
	color:green;
}
.borderless .btn-default{
	border-color: white;
}
.btn-group{
	margin-left:14px;
}
.datepickerstyle{
	width: 270px;
	position:absolute;
	display:block;
	bottom:50px;
	padding: 3px;
	box-shadow:1px 1px 8px 1px rgba(80,80,218,0.77)
}

.timeline .progress-striped{
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
.dropdown-menu {
	min-width : 0px;
	padding:0px;
	margin:0px;
	width:auto;
	top:98%;
	left:-2px;
}
