/* app css stylesheet */
.timeline .progress{
	background-color:white;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.progress-bar-ENQ{
	background-color:#A5A0A0;
}
.progress-bar-NBO{
	background-color:#CCC408;
}
.progress-bar-QUOTE{
	background-color:rgb(16, 204, 0);
}
.progress-bar-PPAPSUB{
	background-color: rgb(92,0,225);
}
.progress-bar-PPAPAPP{
	background-color:#A2299D;
}
.progress-bar-FRS{
	background-color:black;
}
.samp button{
	margin:0px;
	border:0px;
	border-radius:0px;
}
.timelinemodal .modal-content{
	padding:20px;
}
.timelinemodal .modal-dialog{
	width: 80%;
}
body {
	position: relative;
	left: 0px;
}
.modalclass .modal-body{
	overflow-y: auto;
	height: 435px;
}
.modalclass .form-control{
	padding: 3px;
}
.modalclass .modal-footer{
	padding-top: 10px;
}
.modalclass .modal-content{
	height: 615px;
}
.modal-dialog{
	margin-top:15px;
}
.clickable{
	cursor:pointer;
}
.modal{
	overflow:hidden;
}
.modalclass .modal-dialog{
	width: 80%
}
body .glypicon-asterisk{
	color: #F0AD4E;
}
.rating-class{
	margin-top:5px;
	font-size: 17px;
}
.body-push{
	left: 240px;
}
.sidebar, body{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.sidebar {
	width: 240px;
	background-color: #535050;
	position: fixed;
	height: 100%;
	top:0;
	z-index:1000;
	left:-240px;
}
.sidebar.slide-out{
	left: 0px;
}
.home-button{
	height: 70px;
	width: 70px;
	background-color: black;
	color: #EEEEEE;
	border: 10px;
	border-color: #BBBBBB;
	border-radius: 40px;
	font-size: 21px;
}
.home-button:focus{
	outline:white
}
.home{
	position: relative;
	top: 20px;
	left: 35px;
}
.side{
	position: relative;
	top: 20px;
	left: 85px;
}
.home-box{
	height: 150px;
	width: 150px;
}
.ovh{
	overflow:hidden;
}
.glyphicon-plus{
	color:green;
}
.borderless .btn-default{
	border-color: white;
}
.datepickerstyle{
	width: 270px;
	position:absolute;
	display:block;
	bottom:50px;
	padding: 3px;
	box-shadow:1px 1px 8px 1px rgba(80,80,218,0.77)
}

.timeline .progress-striped{
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size: 40px 40px;
	background-size: 40px 40px;
}
